// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700&display=swap");

// Variables
@import "variables";
@import "maps";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Source Sans Pro", sans-serif !important;
    // overflow-x: hidden;
    box-sizing: border-box;
}

// img {
//     object-fit: ;
// }

$light-blue: #15aef0;
$mid-blue: #0054a5;
$dark-blue: #141c65;

.footer {
    background-color: $dark-blue !important;
    a {
        color: white;
    }
}

.navbar {
    background-color: #f0fffd !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    a {
        color: black !important;
    }
}

.navbar.trans {
    background-color: transparent !important;
    color: white !important;
    box-shadow: unset;
    a {
        color: white !important;
    }
}
.btn-rating {
    border: none;
    padding: 2rem;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    color: #f1d013;
    // background-color: transparent;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: red;
    //     z-index: 99;
    // }
}

.div-rating {
    display: inline;
    position: relative;
}

.rating-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #f1d013;
}

.rating-container {
    display: flex;
    justify-content: center;
}

.carousel {
    max-height: 22rem;
    overflow: hidden;
}

.attractions-header {
    position: relative;
    background: url("../../public/atr-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 35%;
    color: white;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $blue;
        opacity: 0.3;
    }

    .container {
        position: relative;
        z-index: 1;
    }
}
