// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700&display=swap");

// Variables
@import "variables";
@import "maps";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Source Sans Pro", sans-serif !important;
    // overflow-x: hidden;
    box-sizing: border-box;
}

// img {
//     object-fit: ;
// }

$light-blue: #15aef0;
$mid-blue: #0054a5;
$dark-blue: #141c65;

.footer {
    background-color: $dark-blue !important;
}

.navbar {
    background-color: #f0fffd !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    a {
        color: black !important;
    }
}

.navbar.trans {
    background-color: transparent !important;
    color: white !important;
    box-shadow: unset;
    a {
        color: white !important;
    }
}
